<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <link rel="stylesheet" href="static/textneon.css">
    <title>Time Stop Game</title>
</head>

<body>
    <div class="container">
        <div class="timer neon-text" id="timer">0.00</div>
        <div class="result neon-text" id="result"></div>
        <p class="method neon-text">버튼을 눌러 11.11초를 맞추세요!!!</p>
    </div>
    <script src="script.js"></script>
</body>

</html>
